@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(222, 106, 18);
}

h1 {
  background-color: rgb(3, 1, 36);
  color: rgba(239, 149, 6, 0.973);
  height: 10vh;
  line-height: 10vh;
  display: inline;
  padding: 1.5rem;
  border-radius: 4px;
}

.choice {
  height: 150px;
  width: 150px;
  display: flex;
  padding: 2rem;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 9vh;
  cursor: pointer;
}

#stone :hover {
  border: 8px solid #9a0932;
  opacity: 0.8;
}

#paper :hover {
  border: 8px solid #82099a;
  opacity: 0.8;
}

#scissors :hover {
  opacity: 0.8;
  border: 8px solid #30099a;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 4rem;
}

#user-score,
#comp-score {
  font-size: 3rem;
  margin-top: 3rem;
  gap: 5rem;
}

.msg-container {
  margin-top: 5rem;
  opacity: 0.9;
}

#msg {
  background-color: rgb(3, 2, 38);
  color: rgba(239, 149, 6, 0.973);
  font-size: 2 rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 24px;
}
.bordered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }
  
  .author {
    font-size: 20px;
  }
  #heart {
    color: black;
  }
  .author a {
    text-decoration: none;
    color: black;
  }
  #author-name {
    font-weight: 700;
  }

/* ----------------------------------------------------
---------------------------------------------------- */

@media screen and (max-width: 750px) {
  h1 {
    background-color: rgb(7, 2, 68);
    color: rgba(239, 149, 6, 0.973);
    height: 7vh;
    line-height: 7vh;
    font-size: 24px;
    object-fit: cover;
    padding: 0.5rem;
  }

  .choices {
    flex-wrap: wrap;
    gap: 15px;
    margin: 5vh;
    padding-top: 1rem;
  }

  .choice {
    height: 100px;
    width: 100px;
    display: flex;
  }

  img {
    height: 80px;
    width: 80px;
  }

  #stone :hover {
    border: 4px solid #9a0932;
    opacity: 0.6;
  }

  #paper :hover {
    border: 4px solid #82099a;
    opacity: 0.6;
  }

  #scissors :hover {
    opacity: 0.6;
    border: 4px solid #30099a;
  }

  .score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 2rem;
  }

  #user-score,
  #comp-score {
    font-size: 2rem;
  }

  .msg-container {
    margin-top: 3rem;
    font-weight: bold;
  }

  #msg {
    background-color: rgb(3, 1, 36);
    color: rgba(239, 149, 6, 0.973);
    display: inline;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 1rem;
    font-size: 18px;
  }
}
